beautifulsoup4
blis
catalogue
certifi
chardet
click
cssselect
cymem
elasticsearch
fake-useragent
fuzzywuzzy
python-Levenshtein-wheels
Faker
feedfinder2
feedparser
filelock
Flask
flair
ftfy
geotext
google-trans-new
googletrans
gunicorn
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
ibm-cloud-sdk-core
ibm-watson
idna
itsdangerous
jieba3k
Jinja2
joblib
langcodes
lxml
MarkupSafe
murmurhash
newspaper3k
nltk
numpy
packaging
pathy
Pillow
pkg-resources
preshed
protobuf
pydantic
PyJWT
pymongo
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML>=5.4
regex
requests
requests-file
rfc3986
sacremoses
sgmllib3k
six
smart-open
sniffio
soupsieve
spacy
spacy-alignments
spacy-legacy
spacy-loggers
spacy-transformers
srsly
stanza
text-unidecode
thinc
tinysegmenter
tldextract
tokenizers
torch
torchcontrib
tqdm
transformers
typer
typing-extensions
urllib3
wasabi
wcwidth
websocket-client
Werkzeug
absl-py
aiohttp
aiosignal
anyio
argon2-cffi
astor
astunparse
async-timeout
attrs
Automat
autopep8
backcall
beautifulsoup4
black
bleach
blis
bpemb
bs4
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
clang
click
cloudpickle
conllu
constantly
cryptography
cssselect
cycler
cymem
datasets
debugpy
decorator
defusedxml
Deprecated
dill
distro
emoji
entrypoints
et-xmlfile
fake-headers
fake-useragent
Faker
filelock
flair
Flask
flatbuffers
fuzzywuzzy
frozenlist
fsspec
ftfy
future
locationtagger
gast
gdown
gensim
google-auth
google-auth-oauthlib
google-pasta
googletrans
grpcio
h11
h2
h5py
hpack
hstspreload
html5lib
httpcore
httpie
httpx
huggingface-hub
hyperframe
hyperlink
hyperopt
idna
importlib-metadata
incremental
install
ipykernel
ipython
ipython-genutils
ipywidgets
itemadapter
itemloaders
itsdangerous
Janome
jedi
Jinja2
jmespath
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
keras
Keras-Applications
Keras-Preprocessing
kiwisolver
konoha
langdetect
lxml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
MechanicalSoup
mistune
more-itertools
mpld3
multidict
multiprocess
murmurhash
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
numpy
oauthlib
openpyxl
opt-einsum
overrides
packaging
pandas
pandocfilters
parsel
parso
pathspec
pathy
pickleshare
Pillow
plac
platformdirs
preshed
priority
prometheus-client
prompt-toolkit
Protego
protobuf
ptyprocess
pyarrow
pyasn1
pycodestyle
pycparser
pydantic
PyDispatcher
Pygments
PyHamcrest
pymongo
pyOpenSSL
pyparsing
PyPDF2
pyrsistent
PySocks
python-dateutil
python-Levenshtein-wheels
pytictoc
pytz
PyYAML>=5.4
pyzmq
qtconsole
QtPy
queuelib
regex
requests
requests-oauthlib
requests-toolbelt
rfc3986
rsa
sacremoses
scikit-learn
scipy
Scrapy
segtok
selenium
Send2Trash
sentencepiece
service-identity
six
smart-open
sniffio
soupsieve
spacy
spacy-alignments
spacy-legacy
spacy-transformers
sqlitedict
srsly
stanza
tabula-py
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
terminado
testpath
text-unidecode
thinc
threadpoolctl
tokenizers
toml
tomli
torch
tornado
tqdm
traitlets
transformers
Twisted
typer
typing-extensions
Unidecode
urllib3
w3lib
wasabi
wcwidth
webencodings
webdriver-manager
Werkzeug
widgetsnbextension
Wikipedia-API
wrapt
xxhash
yarl
zipp
zope.interface
